# Import Dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error , r2_score

# Loading Data set

In [2]:
data = pd.read_csv("general_data.csv")

In [3]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [11]:
data.shape

(4410, 24)

In [12]:
data.size

105840

In [14]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [24]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [4]:
data1 = data.drop(['EmployeeID','NumCompaniesWorked','TotalWorkingYears'],axis=1)

In [5]:
data1.shape

(4410, 21)

# Dealing with categorical variable

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()

In [8]:
data1['Attrition'] = le.fit_transform(data1['Attrition'])

In [9]:
data1['Gender'] = le.fit_transform(data1['Gender'])

In [10]:
data1['EducationField'] = le.fit_transform(data1['EducationField'])
data1['MaritalStatus'] = le.fit_transform(data1['MaritalStatus'])
data1['BusinessTravel'] = le.fit_transform(data1['BusinessTravel'])
data1['Department'] = le.fit_transform(data1['Department'])
data1['JobRole'] = le.fit_transform(data1['JobRole'])
data1['Over18'] = le.fit_transform(data1['Over18'])

In [11]:
data1.head(2)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,Gender,JobLevel,...,MaritalStatus,MonthlyIncome,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,0,1,...,1,131160,0,11,8,0,6,1,0,0
1,31,1,1,1,10,1,1,1,0,1,...,2,41890,0,23,8,1,3,5,1,4

In [12]:
import statsmodels.api as sm

In [ ]:
data

In [36]:
X = data1[['Age','DistanceFromHome','MonthlyIncome','TrainingTimesLastYear'
          ,'YearsAtCompany']]
y = data1['Attrition']

In [32]:
X1 = sm.add_constant(X)
Logistic = sm.Logit(y,X1)

In [33]:
Logistic = sm.Logit(y,X1)

In [34]:
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.425996
         Iterations 6

In [35]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4410
Model:                          Logit   Df Residuals:                     4405
Method:                           MLE   Df Model:                            4
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                 0.03554
Time:                        08:41:35   Log-Likelihood:                -1878.6
converged:                       True   LL-Null:                       -1947.9
Covariance Type:            nonrobust   LLR p-value:                 6.027e-29
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                     0.7449      0.217      3.431      0.001       0.319       1.170
Age                      -0.0534      0.005    -10.590      0.000      -0.063      -0.044
DistanceFromHome         -0.0030      0.005     -0.574      0.566      -0.013       0.007
MonthlyIncome         -2.258e-06   9.27e-07     -2.434      0.015   -4.08e-06    -4.4e-07
TrainingTimesLastYear    -0.1192      0.034     -3.548      0.000      -0.185      -0.053
=========================================================================================
"""

Since the Independent variable Age , MonthlyIncome and TrainingTimesLastYear are more 
significant on dependent vaiable Attrition