# Important Library

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
from sklearn import preprocessing

# Loading Data set

In [4]:
titanic_train = pd.read_csv("train.csv")

In [5]:
titanic_train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [6]:
titanic_train = titanic_train.drop('PassengerId' , axis=1)

In [7]:
titanic_train.head(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [8]:
titanic_train.size

9801

In [9]:
titanic_train.shape

(891, 11)

In [10]:
titanic_train.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [11]:
titanic_train['Age'].mean()

29.69911764705882

In [62]:
new_age_var = np.where(titanic_train['Age'].isnull(),29,titanic_train['Age'])

In [63]:
titanic_train['Age'] = new_age_var

In [15]:
tree_model = tree.DecisionTreeClassifier()

In [20]:
tree_model.fit(X=pd.DataFrame(titanic_train['Age']),y=titanic_train['Survived'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [22]:
with open("DecisionTree1.dot",'w') as f:
    f = tree.export_graphviz(tree_model,feature_names = ['Age'],out_file=f)

# Converting categorical variable into numerical variable

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
le = LabelEncoder()

In [52]:
titanic_train['Sex'] = le.fit_transform(titanic_train['Sex'])

In [54]:
titanic_train["Embarked"] = le.fit_transform(titanic_train["Embarked"].astype('str'))

In [55]:
titanic_train.head(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0

In [29]:
tree_model = tree.DecisionTreeClassifier()

In [31]:
tree_model.fit(X=pd.DataFrame(titanic_train['Sex']),y=titanic_train['Survived'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [32]:
with open("Decisiontree2.dot",'w') as f:
    f = tree.export_graphviz(tree_model,feature_names=['Sex'],out_file=f)

From Decision tree graph we can conclude that there are 891 person in which 314 female and 577 male
314 female 81 are not survived and 233 are survived
577 male  468 are not survived and 109 are survived

In [35]:
predicter = titanic_train[['Sex','Pclass']]

In [36]:
tree_model.fit(X=pd.DataFrame(predicter),y=titanic_train['Survived'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [37]:
with open("Decisiontree3.dot",'w') as f:
    f = tree.export_graphviz(tree_model,feature_names=['Sex','Pclass'],out_file=f)

# Rule

Out of 891 there are 314 female and 577 male
Female :
Pclass value <= 2.5  and Pclass >1.5 have 6 not survived and 70 survived
Pclass value <= 2.5  and Pclass <1.5 have 3 not survived and 91 survived
Pclass value > 2.5 have 72 not survived and 72 survived
Male :
Pclass velue <=1.5 have 77 not survived and 45 survived
Pclass velue > 1.5 and Pclass value <= 2.5 have 91 not survived and 17 survived
Pclass velue > 1.5 and Pclass value > 2.5 have 300 not survived and 47 survived

In [40]:
tree_model.score(X=predicter,y=titanic_train['Survived'])

0.7867564534231201

# Random Forest Classifier

In [41]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
titanic_train.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [64]:
features = titanic_train[['Age','Pclass','Sex','SibSp','Fare','Embarked']]

In [65]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [66]:
rf_model.fit(X=pd.DataFrame(features),y=titanic_train['Survived'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [67]:
print(rf_model.oob_score_)

0.8159371492704826

In [70]:
for feature , imp in zip(features , rf_model.feature_importances_):
    print(feature,imp)

Age 0.27256327567660943
Pclass 0.08834729147289101
Sex 0.2699241962129906
SibSp 0.05067505566157659
Fare 0.285833740329955
Embarked 0.03265644064597751

# Decision tree classifier

In [78]:
tree_model = tree.DecisionTreeClassifier(max_depth=8)

In [79]:
features = titanic_train[['Age','Sex','Fare']]

In [80]:
tree_model.fit(X =pd.DataFrame(features) , y=titanic_train['Survived'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [81]:
with open("Decisiontree4.dot" , 'w') as f:
    f = tree.export_graphviz(tree_model,feature_names=['Age','Sex','Fare'],out_file=f)

In [125]:
tree_model.score(X=features,y=titanic_train['Survived'])

0.8754208754208754

# Predection

In [126]:
titanic_test = pd.read_csv("test.csv")

In [127]:
titanic_test.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [128]:
titanic_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [129]:
titanic_test['Age'].mean()

30.272590361445783

In [130]:
new_age_var = np.where(titanic_test['Age'].isnull(),30,titanic_test['Age'])

In [131]:
titanic_test['Age'] = new_age_var

In [145]:
titanic_test['Fare'] = titanic_test['Fare'].fillna(method='bfill')

In [146]:
encoded_sex = le.fit_transform(titanic_test['Sex'])
titanic_test['Embarked'] = le.fit_transform(titanic_test['Embarked'].astype('str'))

In [147]:
test_features = pd.DataFrame([titanic_test['Age'],encoded_sex,titanic_test['Fare']]).T

In [149]:
test_pred = tree_model.predict(X=test_features)

In [150]:
predicted_output = pd.DataFrame({"PassengerId":titanic_test['PassengerId'],"Survived":test_pred})

In [152]:
predicted_output.to_csv("Output.csv",index=False)